data/*
examples/*
*.aux
*.log
*.toc
text/text_full.pdf
text/text_autoreferat.pdf
text/rybakov_abstract_v1.0_250702.pdf
text/rybakov_abstract_v2.0_250717.pdf
text/rybakov_abstract_v3.0_250815.pdf
text/rybakov_abstract_v3.1_250825.pdf
text/rybakov_abstract_v3.2_250903.pdf
text/rybakov_abstract_v3.3_250924.pdf
text/rybakov_abstract_v3.4_250926.pdf
text/rybakov_abstract_v3.5_250929.pdf
text/rybakov_abstract_v4.0_251003.pdf
text/rybakov_abstract_v4.1_251009.pdf
text/rybakov_abstract_v5.0_251028.pdf
text/rybakov_diss_full_text_v1.0_250516.pdf
text/rybakov_diss_full_text_v2.0_250603.pdf
text/rybakov_diss_full_text_v3.5_250929.pdf
text/rybakov_diss_full_text_v4.1_251009.pdf
text/rybakov_diss_full_text_v5.0_251028.pdf

