*.aux
*.log
*.toc
text/text_full.pdf
text/text_autoreferat.pdf
text/rybakov_abstract_v1.0_250702.pdf
text/rybakov_abstract_v2.0_250717.pdf
text/rybakov_abstract_v3.0_250815.pdf
text/rybakov_diss_full_text_v1.0_250516.pdf
text/rybakov_diss_full_text_v2.0_250603.pdf
